.carousel
{
    position: relative;
}

.menu
{
    position: relative;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.movie
{
    display: none;
    position: relative;
    width:100%;
    height: 90%;
}

.active
{
    display: block;
}

body
{
    margin: 0px;
    background-color: #f5f5f5;
    font-family: Arial;
    overflow-x: hidden;
}

.stage .ul-stage
{
    padding: 0px;
    margin: 0px;
}

/**************pointer****************/

.pointer
{
    position: relative;
    background: url(../images/movie-pointer.png) center center no-repeat;
    bottom: 23px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 19px;
    margin: 0 19px;
}

.pointer .left-triangle, .pointer .right-triangle {
    width: 50%;
    height: 20px;
    background: #f5f5f5;
}

.pointer .left-triangle
{
    float: left;
    margin-left: -19px;
}

.pointer .right-triangle {
    float: right;
    margin-right: -19px;
}

.left-button
{
    position: absolute;
    cursor: pointer;
    top: 25%;
    left: 4%;
    height: 33px;
    width: 23px;
    background:  url(../images/arrow_left.png) center center no-repeat;
}

.right-button
{
    position: absolute;
    cursor: pointer;
    top: 25%;
    right: 4%;
    height: 33px;
    width: 23px;
    background: url(../images/arrow_right.png) center center no-repeat;
}



.menu-item img
{
    width: 233px;
    height: auto;

}

.menu-item .details
{
    padding: 15px 20px;
}

.details span {
    font-size: 14px;
    padding-bottom: 6px;
    display: block;
}

.details h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

.menu-item:hover
{
    margin-top: 10px;
    transition: margin-top 100ms ease;
    cursor: pointer;
}

.menu ul
{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu-item
{
    /*float: left;*/
    margin: 0px 25px 0px 0px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.26);
    max-width: 250px;
    height: 280px;
}

.container
{
    position: relative;
    padding: 0;
    overflow: visible;
    z-index: 3;
}

.info
{
    color: white;
    position: absolute;
    bottom: 120px;
    left:10%;
}

.info span
{
    display: block;
    width: 30%;
    height: 6px;
    margin: 30px 0;
    background: #B08A43;
}

.info h1
{
    font-size: 52px;
    font-weight: 800;
}

.info h2
{
    font-size: 20px;
}

.buttons
{
    position: absolute;
    bottom: 80px;
    right: 40px;
    z-index: 10;
    width: 350px;
    list-style: none;
}

.buttons .btn
{
    display: block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.buttons div
{
    margin-top: 14px;
    float: left;
}


.btn span.left
{
    width: 210px;
    text-align: center;
    text-transform: uppercase;
    transition: background-position 100ms 100ms ease;
}

.btn span.right
{
    transition: background-position 100ms ease;
    padding: 0;
    position: relative;
}

.btn span.left, .btn span.right
{
    display: inline-block;
    margin-right: 4px;
    height: 48px;
    line-height: 48px;
    vertical-align: top;
    padding: 0 24px;
    background-color: #B08A43;
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.13);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.13);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.13);
}

.hide
{
    display: none;
}

.btn span.right span{
    background: url(/../images/right-arrow-small.png) center center no-repeat;
    width: 118px;
    height: 100px;
    position: absolute;
    bottom: -25px;
    right: -35px;
}

.left{
    float: left;
}

.right{
    float: right;
}





